.App {
  text-align: center;
  height: 100vh;
}

.header {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  height: 160px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(255, 0, 0, 0.226);
  border-bottom: 2px solid black;
}
.finish {
  background: red;
}
.start {
  background: blue;
}

.content-box {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: rgba(0, 0, 255, 0.219);
  border-bottom: 2px solid black;
}

.footer {
  position: absolute;
  bottom: 0;
  border-top: 2px solid black;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 0, 0.288);
}

.innerFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}
